---
import site from '../content/settings/site.json';
import { withBase } from '../lib/assets';
---

<footer class="site-footer">
  <div class="site-footer-inner">
    <div class="footer-unipv">
      <a href="https://portale.unipv.it/it" aria-label="University of Pavia">
        <img src={withBase('/images/brand/unipv-logo-footer.svg')} alt="University of Pavia" width="276" height="50" />
      </a>
    </div>
    <div class="footer-department">
      Department of Industrial and<br/>Information Engineering
    </div>
    <div class="footer-meta">
      <a href="https://rams.unipv.it/" aria-label="RAMSLAB">
        <img src={withBase('/images/brand/ramslab-logo-footer.svg')} alt="RAMSLAB" width="132" height="50" />
      </a>
    </div>
  </div>
</footer>
